<div nz-row>
    <button nz-button nzType="primary" class="pull-right" (click)="showAddModal()">
    <i class="anticon anticon-user-add"></i>新增用户</button>
</div>

<nz-table #nzTable [nzData]="users" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
        <tr>
            <th>
                登录名
                <nz-dropdown nzTrigger="click" [nzClickHide]="false">
                    <i class="anticon anticon-smile-o ant-table-filter-icon" nz-dropdown></i>
                    <div class="custom-filter-dropdown">
                        <input type="text" nz-input placeholder="Search name" [(ngModel)]="keyword">
                        <button nz-button [nzType]="'primary'" (click)="search()">Search</button>
                    </div>
                </nz-dropdown>
            </th>
            <th>姓名</th>
            <th nzShowFilter [nzFilters]="roleFilter" [nzFilterMultiple]="false" (nzFilterChange)="filterRoleChange($event)">角色</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{data.username}}</td>
            <td>{{data.name}}</td>
            <td>{{data.role.name}}</td>
            <td>
                <i class="anticon anticon-edit" style="margin-right: 5px" (click)="showEditModal(data)"></i>
                <i class="anticon anticon-delete" (click)="showDeleteModal(data.id)"></i>
            </td>
        </tr>
    </tbody>
    <div nz-row class="pull-right">
        <nz-pagination [nzPageIndex]="page" [nzPageSize]="pageSize" [nzShowTotal]="totalTemplate" (nzPageIndexChange)="pageIndexChange($event)" nzShowQuickJumper [nzTotal]="totalAmount" *ngIf="users.length > 0 && !loading"></nz-pagination>
        <ng-template #totalTemplate let-total>
            总计 {{totalAmount}} 条
        </ng-template>
    </div>
</nz-table>

<nz-modal [(nzVisible)]="isAddVisible" nzTitle="新增用户" (nzOnCancel)="handleCancel()" (nzOnOk)="addUser()">
    <form nz-form [formGroup]="addForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                <span>姓名</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="name" formControlName="name">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
                <span>用户名</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="username" formControlName="username">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roleId" nzRequired>
                <span>角色</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="roleId" formControlName="roleId">
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>

<nz-modal [(nzVisible)]="isEditVisible" nzTitle="编辑用户" (nzOnCancel)="handleCancel()" (nzOnOk)="editUser()">
    <form nz-form [formGroup]="editForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                <span>姓名</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="name" formControlName="name">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roleId" nzRequired>
                <span>角色</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="roleId" formControlName="roleId">
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>

<nz-modal [(nzVisible)]="isDeleteVisible" nzTitle="确认删除" nzOkText="确认" nzCancelText="取消" (nzOnOk)="deleteUser()" (nzOnCancel)="handleCancel()">
    <p>确定要删除该用户吗</p>
</nz-modal>