<div nz-row>
    <button nz-button nzType="primary" class="pull-right" (click)="showAddModal()">
        <i class="anticon anticon-user-add"></i>生成试卷</button>
</div>

<nz-table #nzTable [nzData]="exampapers" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
        <tr>
            <th>
                试卷标题
                <nz-dropdown nzTrigger="click" [nzClickHide]="false">
                    <i class="anticon anticon-smile-o ant-table-filter-icon" nz-dropdown></i>
                    <div class="custom-filter-dropdown">
                        <input type="text" nz-input placeholder="Search name" [(ngModel)]="keyword">
                        <button nz-button [nzType]="'primary'" (click)="search()">Search</button>
                    </div>
                </nz-dropdown>
            </th>
            <th>单选题数目</th>
            <th>多选题数目</th>
            <th>判断题数目</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td><a (click)="gotoDetail(data.id)">{{data.title}}</a></td>
            <td>{{data.singleAmount}}</td>
            <td>{{data.multiAmount}}</td>
            <td>{{data.judgeAmount}}</td>
            <td>
                <button nz-button nzType="primary" (click)="gotoGradDetail(data.id)"> <i class="anticon anticon-delete"></i>查看考试结果</button>
                <button nz-button nzType="primary" (click)="showDeleteModal(data.id)"> <i class="anticon anticon-delete"></i>删除</button>
            </td>
        </tr>
    </tbody>
    <div nz-row class="pull-right">
        <nz-pagination [nzPageIndex]="page" [nzPageSize]="pageSize" [nzShowTotal]="totalTemplate" (nzPageIndexChange)="pageIndexChange($event)" nzShowQuickJumper [nzTotal]="totalAmount" *ngIf="exampapers.length > 0 && !loading"></nz-pagination>
        <ng-template #totalTemplate let-total>
            总计 {{totalAmount}} 条
        </ng-template>
    </div>
</nz-table>

<!-- <nz-modal [(nzVisible)]="isAddVisible" nzTitle="新增用户" (nzOnCancel)="handleCancel()" (nzOnOk)="addUser()">
        <form nz-form [formGroup]="addForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                    <span>姓名</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="name" formControlName="name">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
                    <span>用户名</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="username" formControlName="username">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roleId" nzRequired>
                    <span>角色</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="roleId" formControlName="roleId">
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>
    
    <nz-modal [(nzVisible)]="isEditVisible" nzTitle="编辑用户" (nzOnCancel)="handleCancel()" (nzOnOk)="editUser()">
        <form nz-form [formGroup]="editForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                    <span>姓名</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="name" formControlName="name">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roleId" nzRequired>
                    <span>角色</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="roleId" formControlName="roleId">
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>
    
    <nz-modal [(nzVisible)]="isDeleteVisible" nzTitle="确认删除" nzOkText="确认" nzCancelText="取消" (nzOnOk)="deleteUser()" (nzOnCancel)="handleCancel()">
        <p>确定要删除该用户吗</p>
    </nz-modal> -->