<header>
    <ul nz-menu [nzMode]="'horizontal'">
        <li nz-menu-item>LOGO</li>

        <li nz-menu-item *ngFor="let item of menus">
            <!-- <a routerLink="{{item.url}}" target="_blank" rel="noopener noreferrer"> -->
            <a routerLink="{{item.url}}" rel="noopener noreferrer">
                    {{item.name}}
            </a>
        </li>
    </ul>
</header>
<div nz-row>
    <div nz-col nzSpan="2"></div>
    <div style="margin-top: 30px;" nz-col nzSpan="20">
        <router-outlet></router-outlet>
    </div>
</div>