<nz-list [nzDataSource]="exampapers" [nzItemLayout]="'vertical'" [nzRenderItem]="item" [nzPagination]="pagination">
    <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
            <!-- <ng-template #starAction><i class="anticon anticon-check-circle-o" style="margin-right: 8px"></i>{{item.singleAmount}}</ng-template>
            <ng-template #likeAction><i class="anticon anticon-check-square-o" style="margin-right: 8px;"></i> {{item.multiAmount}}</ng-template>
            <ng-template #msgAction><i class="anticon anticon-close-circle-o" style="margin-right: 8px;"></i> {{item.judgeAmount}}</ng-template>
      -->
            <ng-template #starAction>单选题： {{item.singleAmount}}</ng-template>
            <ng-template #likeAction>多选题： {{item.multiAmount}}</ng-template>
            <ng-template #msgAction>判断题： {{item.judgeAmount}}</ng-template>
            <nz-list-item-meta [nzTitle]="nzTitle">
                <ng-template #nzTitle><a (click)="gotoDetail(item.id)">{{item.title}}</a></ng-template>
            </nz-list-item-meta>
            <ng-template #extra>
                <button nz-button nzType="primary" (click)="takeExam(item.id)">进入考试</button>
                <!-- <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"> -->
            </ng-template>
        </nz-list-item>
    </ng-template>
    <ng-template #pagination>
        <nz-pagination [nzPageIndex]="page" [nzPageSize]="pageSize" [nzShowTotal]="totalTemplate" (nzPageIndexChange)="pageIndexChange($event)" nzShowQuickJumper [nzTotal]="totalAmount" *ngIf="exampapers.length > 0 && !loading"></nz-pagination>
        <ng-template #totalTemplate let-total>
            总计 {{totalAmount}} 条
        </ng-template>
    </ng-template>
</nz-list>